body {
    background-image: url("../img/bg\ 2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 50px;

}

.citySearch {
    border: 4px black solid;
    padding: 20px;
    width: 500px;  
}

#map{
float: right;
/* display: flex;
flex-wrap: wrap;
align-items: flex-end; */
width: 1000px;
height: 600px;
margin: 50px;
padding: 50px;
border: 12px orange solid;
}

