
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    margin: 0;
    padding: 50px;
}

.citySearch {
    border: 2px black solid;
    padding: 20px;
    width: 500px;
    
   
}