@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    background-image: url("../img/bg\ 2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 50px;

}

.black-text {
    font-family: Rubik, sans-serif;
    font-weight: bold;
    font: size 36px;
}

.right-align {
    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
}

.citySearch {
    /* border: 4px black solid; */
    padding: 20px;
    width: 500px;
}

#map {
    /* display: inline;
    justify-content: flex-end; */
    /* position: absolute; */
    /* float: right;  */
    width: 1000px;
    height: 600px;
    margin: 100px;
    padding: 100px;
    border: 12px orange solid;
    flex: 1;
}

.list-group {
    border: 4px lightgray solid;
    display: flex;
    justify-content: flex-start;
    height: 700px;
    width: 300px;
    font-weight: bold;
}

/* .searchContainer {
    display: flex;
} */

#cityInput {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    background-color: azure;

}

.searchBtn {
    background-color: darkcyan;
    color: #FFFFFF;
    /* Change to your desired text color */
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    margin-left: 0;
}

.cityContainer {
    margin-left: 0;
}