body {
    background-image: url("../img/bg\ 2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 50px;

}

.right-align {
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
      }
}

/* .searchContainer {
    display: flex;
    align-items: center;
} */

.citySearch {
    /* border: 4px black solid; */
    padding: 20px;
    width: 500px;  
}

#map {
    /* display: inline;
    justify-content: flex-end; */
    /* position: absolute; */
    /* float: right;  */
    width: 1000px;
    height: 600px;
    margin: 50px;
    padding: 50px;
    border: 12px orange solid;
}

.list-group {
    border: 4px lightgray solid;
    display: flex;
    justify-content: flex-start;
    height: 700px;
    width: 300px;
    font-weight: bold;
}

/* .searchContainer {
    display: flex;
} */

.container {
    display: flex;
    margin-left: 0;
}

.cityContainer {
    /* flex: 1;  */
    margin-left: 0;
}

#map {
    flex: 1; /* Takes up 1/3 of the available width */
    /* Add other styles for your map here */
}

#title { 
    padding: 20px; 
    margin: 24px;
    font-size: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    border: 1px solid black; 
    font-family: 'Noto Sans KR', sans-serif;
    background-color: coral;
}







.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: #4CAF50; /* Background color when the switch is turned on */
  }
  
  .toggle-label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    left: 0;
    transition: 0.2s;
  }
  
  .toggle-input:checked + .toggle-label::before {
    transform: translateX(30px);
  }